body {
  background-color: #ffc0cb;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  color: #800000;
}

img {
  width: 100%;
}

.shop {
  width: 100%;
}

.cakes {
  margin: 1.25%;
  float: left;
  width: 45%;
}
