.menus {
  display: flex;
  flex-wrap: wrap;
}

.menus p {
  display: block;
  width: 100%;
}

.menu {
  width: 10.5%;
  margin-left: 1%;
  margin-right: 1%;
  text-align: center;
}

.menu img {
  width: 100%;
  display: block;
  overflow: hidden;
  transition: transform .6s ease;
}

.menu img:hover {
  transform: scale(1.05);
}

.menu p {
  font-size: 14px;
  margin-top: 5px;
}
