p {
  display: inline-block;
  width: 60%;
}

.imgarea {
  display: inline-block;
  width: calc(40% - 6px);
  line-height: 2;
  padding-right: 10px;
  box-sizing: border-box;
  vertical-align: top;
  margin: 0;
}

.imgarea img {
  width: 100%;
  height: auto;
}
