@media screen and (min-width: 480px) {
  p {
    display: inline-block;
    width: 60%;
    padding-right: 10px;
  }

  .imgarea {
    display: inline-block;
    width: calc(40% - 6px);
  }
}

@media screen and (max-width: 479px) {
  p {
    display: block;
    width: 100%;
  }

  .imgarea {
    display: block;
    width: 100%;
  }
}

p {
  line-height: 2;
  box-sizing: border-box;
  vertical-align: top;
  margin: 0;
}

.imgarea img {
  width: 100%;
  height: auto;
}
